<!DOCTYPE html>
<html lang="zh-CN" class="translated-ltr"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>登陆</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" name="viewport">
    <!--     Fonts and icons     -->
    <link href="/static/css_1/css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css_1/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="/static/css_1/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css_1/now-ui-kit.css" rel="stylesheet">
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="/static/css_1/demo.css" rel="stylesheet">

    <meta name="keywords" content="">
    <meta name="description" content="">



<link type="text/css" rel="stylesheet" charset="UTF-8" href="/static/css_1/translateelement.css"></head>

<body class="login-page sidebar-collapse">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent " color-on-scroll="400">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" rel="tooltip" data-placement="bottom" data-original-title="" title=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                    Sio
                </font></font></a>

            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="page-header" filter-color="orange">
        <div class="page-header-image" style="background-image:url(../static/img/preview.jpg)"></div>
        <div class="container">
            <div class="col-md-4 content-center">
                <div class="card card-login card-plain">
                    <form class="form" method="post" action="{{ url_for('.login') }}">
                        <div class="content">
                            <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon">
                                    <i class="now-ui-icons users_circle-08"></i>
                                </span>
                                <input type="text" class="form-control" name="username" value="test">
                            </div>
                            <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon">
                                    <i class="now-ui-icons text_caps-small"></i>
                                </span>
                                <input type="text" name="password" value="123" class="form-control">
                            </div>
                        </div>
                        <div class="form-actions">
                            <input type="submit" value="登陆" class="btn btn-primary btn-round btn-lg btn-block"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font></input>
                        </div>
                        <div class="pull-left">
                            <h6>
                                <a href={{ url_for('.register_view') }} class="link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">注册</font></font></a>
                            </h6>
                        </div>
                        <div class="pull-right">
                            <h6>
                                <a href="{{ url_for('.reset_view') }}" class="link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">忘记密码</font></font></a>
                            </h6>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <nav>
                    <ul>
                        <li>
                            <a ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                陕ICP备19017467号
                            </font></font></a>
                        </li>

                    </ul>
                </nav>
            </div>
        </footer>
    </div>
</body>
</html>