{% extends "topic/base.html" %}
{% block title %}论坛主页{% endblock%}
{% block main %}
<p>发送邮件</p>
    <form class="form-horizontal" method="post" action="{{ url_for('.add') }}">
        <div class="control-group">
            <label class="control-label">内容</label>
            <div class="controls">
                <input type="text" class="input-xlarge" name="content">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">标题</label>
            <div class="controls">
                <input type="text" class="input-xlarge" name="title">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">id</label>
            <div class="controls">
                <input type="text" class="input-xlarge" name="receiver_id">
            </div>
        </div>
        <div class="form-actions">
            <input type="submit" class="span-primary" value="发送邮件">
        </div>
    </form>
<p>收到邮件</p>
{% for r in received %}
    <div>
        <a href="{{ url_for('.view', id = r.id) }}"> {{ r.title }}</a>
    </div>
{% endfor %}

<p>发送邮件</p>
{% for s in send %}
    <div>
        <a href="{{ url_for('.view', id = s.id) }}"> {{ s.title }}</a>
    </div>
{% endfor %}

{% endblock %}